<!DOCTYPE html>
<html ng-app="music_player" ng-controller="music_playerController">

  <head>


    <meta charset="UTF-8" lang="en">
    <link rel='stylesheet' type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <title>Music Player</title>

  </head>

  <body>

    <p>
      music_player v1.0
    </p>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
